@model IEnumerable<codenow_park.Dominio.Models.Vaga>

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.FirstOrDefault().Estacionamento.Nome</h1>

<p>
    <a asp-action="Create" asp-route-estacionamentoId=@Model.FirstOrDefault().EstacionamentoId>Estacionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasEstacionado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocupado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPagar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Veiculo.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veiculo.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saida)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HorasEstacionado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocupado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPagar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Retirar</a>
            </td>
        </tr>
}
    </tbody>
</table>
